@model Lab.Models.Conducting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conducting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Test.TestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.TestName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Test.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
